name: Deploy CI

on:
  push:
    branches: [ "master", "feat/deploy" ]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: iron_cage_sdk
    steps:
    - uses: actions/checkout@v4
    
    - name: Create secret.sh file
      run: |
        {
          echo "SECRET_STATE_ARCHIVE_KEY=${{ secrets.SECRET_STATE_ARCHIVE_KEY }}"
          echo "GOOGLE_SE_CREDS_PATH=${{ secrets.GOOGLE_SE_CREDS_PATH }}"
          echo "SECRET_RSA_PRIVATE_KEY_PATH=${{ secrets.SECRET_RSA_PRIVATE_KEY_PATH }}"
          echo "SECRET_RSA_PUBLIC_KEY_PATH=${{ secrets.SECRET_RSA_PUBLIC_KEY_PATH }}"
          echo "CSP=${{ secrets.CSP }}"
          echo "PROJECT_NAME=${{ secrets.PROJECT_NAME }}"
          echo "SECRET_HETZNER_CLOUD_TOKEN=${{ secrets.SECRET_HETZNER_CLOUD_TOKEN }}"
          echo "TF_VAR_PROJECT_ID=${{ secrets.TF_VAR_PROJECT_ID }}"
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}"
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}"
          echo "IC_TOKEN_SECRET=${{ secrets.IC_TOKEN_SECRET }}"
          echo "IP_TOKEN_KEY=${{ secrets.IP_TOKEN_KEY }}"
          echo "IRON_SECRETS_MASTER_KEY=${{ secrets.IRON_SECRETS_MASTER_KEY }}"
          echo "ALLOWED_ORIGINS=${{ secrets.ALLOWED_ORIGINS }}"
          echo "SERVER_PORT=${{ secrets.SERVER_PORT }}"
          echo "IRON_DEPLOYMENT_MODE=${{ secrets.IRON_DEPLOYMENT_MODE }}"
          echo "ENABLE_DEMO_SEED=${{ secrets.ENABLE_DEMO_SEED }}"
        } > secret/-secret.sh

    - name: Create key files
      run: |
        echo "${{ secrets.SECRET_GCP_CREDENTIALS }}" | base64 --decode > ${{ secrets.GOOGLE_SE_CREDS_PATH }}
        echo "${{ secrets.SECRET_RSA_PRIVATE_KEY }}"  > ${{ secrets.SECRET_RSA_PRIVATE_KEY_PATH }}
        echo "${{ secrets.SECRET_RSA_PUBLIC_KEY }}"   > ${{ secrets.SECRET_RSA_PUBLIC_KEY_PATH }}

    - name: 'Build the image, push and deploy'
      run: 'make -f Makefile.deploy deploy'
