name: Deployment CI

on:
  pull_request:
    branches: [ "master" ]

jobs:
  deploy-tests:
    runs-on: iron_sdk

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Bats testing framework
      run: |
        sudo apt-get update
        sudo apt-get install -y bats

    - name: Run Bats tests
      run: |
        bats deploy/tests/redeploy.bats

  terraform-validate-gar:
    runs-on: iron_sdk

    defaults:
      run:
        working-directory: ./deploy/gar

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Terraform validate in Docker
      run: |
        docker run --rm \
          --user "$(id -u):$(id -g)" \
          -v ${{ github.workspace }}:/workspace \
          -w /workspace/deploy/gar \
          hashicorp/terraform:1.7.4 \
          init -backend=false -input=false

        docker run --rm \
          --user "$(id -u):$(id -g)" \
          -v ${{ github.workspace }}:/workspace \
          -w /workspace/deploy/gar \
          hashicorp/terraform:1.7.4 \
          validate

  terraform-validate-hetzner:
    name: Validate deploy/hetzner
    runs-on: iron_sdk
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Terraform validate in Docker
        run: |
          docker run --rm \
            --user "$(id -u):$(id -g)" \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace/deploy/hetzner \
            hashicorp/terraform:1.7.4 \
            init -backend=false -input=false

          docker run --rm \
            --user "$(id -u):$(id -g)" \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace/deploy/hetzner \
            hashicorp/terraform:1.7.4 \
            validate
